<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="CrawlerSections">
            <section name="crawlerSection" type="SocialSense.Settings.CrawlerSection,CrawlerSection" />
        </sectionGroup>
    </configSections>
</configuration>

<crawlerSection>
    <bing token="" />
    <googleplus token="ASOKqwekoaskdfok" />
</crawlerSection>
