<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="socialSense" type="SocialSense.Settings.SocialSenseSection, SocialSense" />
    </configSections>

    <socialSense>
        <bing token="" />
        <googlePlus token="ASOKqwekoaskdfok" />
    </socialSense>

</configuration>


